<table align="center" width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse;">
    <tr>
        <td align="center" valign="top" style="background-color: #ffffff;border-radius: 8px; padding: 32px 40px;"
            class="mobile-padding">
            <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse;">
                <tr>
                    <td align="left" valign="top"
                        style="font-size: 16px; line-height: 30px; color: #000; font-weight: normal; font-family: Arial, Helvetica, sans-serif; padding-bottom: 16px;">
                        Welcome to Find-Brews! 🍻
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="top"
                        style="font-size: 16px; line-height: 30px; color: #000; font-weight: normal; font-family: Arial, Helvetica, sans-serif; padding-bottom: 28px;">
                        You’ve just stepped into the ultimate beer lover's paradise. Whether
                        you're here to share your latest brew find, hunt
                        for that perfect pint, or just drool over some hoppy pics, you're in the
                        right place.
                        <br>
                        <br>
                        Go ahead, crack open a cold one (we won't judge), and start exploring
                        the wonderful world of beer. Cheers to new brews
                        and even newer friends! 🍻
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="top">
                        <table cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse;">
                            <tr>
                                <td align="center" valign="top" style="height: 40px;">
                                    <a href="{{link}}" target="_blank"
                                        style="border: 0;display: block; font-size: 14px; line-height: 24px; color: #ffffff; font-weight: bold; font-family: Arial, sans-serif; text-transform: uppercase;padding: 8px 28px; background: #fb6d3a; color:#fff;border-radius: 4px;">
                                        GET STARTED
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
        </td>
    </tr>
    <tr>
        <td align="left" valign="top"
            style="font-size: 16px; line-height: 30px; color: #000; font-weight: normal; font-family: Arial, Helvetica, sans-serif; padding-top: 28px;">
            Thanks,<br>
            The Find-Brews Team
        </td>
    </tr>
</table>